Cir.Azure.MobileApp.Service/Service References/CirSyncService/SyncService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.AdvanceSearch" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.AdvanceSearch" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AdvanceSearchModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="InputFields" nillable="true" type="tns:ArrayOfInputFields" />
      <xs:element minOccurs="0" name="ProfileID" type="xs:long" />
      <xs:element minOccurs="0" name="ProfileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isPublic" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdvanceSearchModel" nillable="true" type="tns:AdvanceSearchModel" />
  <xs:complexType name="ArrayOfInputFields">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InputFields" nillable="true" type="tns:InputFields" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInputFields" nillable="true" type="tns:ArrayOfInputFields" />
  <xs:complexType name="InputFields">
    <xs:sequence>
      <xs:element minOccurs="0" name="InputId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InputType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InputFields" nillable="true" type="tns:InputFields" />
  <xs:complexType name="ArrayOfBrand">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Brand" nillable="true" type="tns:Brand" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBrand" nillable="true" type="tns:ArrayOfBrand" />
  <xs:complexType name="Brand">
    <xs:sequence>
      <xs:element minOccurs="0" name="BrandId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BrandName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Brand" nillable="true" type="tns:Brand" />
</xs:schema>