Cir.Data.Access/Connected Services/CirSyncService/SyncService312.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CirAttachmentsDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="BinaryData" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="CirAttachmentId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="CirId" type="xs:long" />
      <xs:element minOccurs="0" name="Created" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Filename" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CirAttachmentsDetails" nillable="true" type="tns:CirAttachmentsDetails" />
</xs:schema>