Cir.Azure.MobileService/Service References/CirSyncService/SyncService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://schemas.microsoft.com/ws/2005/02/mex/bindings" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SyncService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_ISyncService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://schemas.microsoft.com/ws/2005/02/mex/bindings" location="http://dkrdstowerdd01/Cir.Sync.Services/SyncService.svc?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://dkrdstowerdd01/Cir.Sync.Services/SyncService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://dkrdstowerdd01/Cir.Sync.Services/SyncService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://dkrdstowerdd01/Cir.Sync.Services/SyncService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISyncService_GetMasterData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMasterData" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetMasterData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMasterDataResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_SaveCIRData_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveCIRData" />
  </wsdl:message>
  <wsdl:message name="ISyncService_SaveCIRData_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveCIRDataResponse" />
  </wsdl:message>
  <wsdl:portType name="ISyncService">
    <wsdl:operation name="GetMasterData">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/GetMasterData" message="tns:ISyncService_GetMasterData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/GetMasterDataResponse" message="tns:ISyncService_GetMasterData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveCIRData">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/SaveCIRData" message="tns:ISyncService_SaveCIRData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/SaveCIRDataResponse" message="tns:ISyncService_SaveCIRData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_ISyncService" type="tns:ISyncService">
    <wsp:PolicyReference URI="#WSHttpBinding_ISyncService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMasterData">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/GetMasterData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCIRData">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/SaveCIRData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SyncService">
    <wsdl:port name="WSHttpBinding_ISyncService" binding="tns:WSHttpBinding_ISyncService">
      <soap12:address location="http://dkrdstowerdd01/Cir.Sync.Services/SyncService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://dkrdstowerdd01/Cir.Sync.Services/SyncService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="MetadataExchangeHttpBinding_ISyncService" binding="i0:MetadataExchangeHttpBinding_ISyncService">
      <soap12:address location="http://dkrdstowerdd01/Cir.Sync.Services/SyncService.svc/mex" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://dkrdstowerdd01/Cir.Sync.Services/SyncService.svc/mex</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>