Cir.Azure.MobileService/Service References/CirSyncService/SyncService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCirMasterData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CirMasterData" nillable="true" type="tns:CirMasterData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCirMasterData" nillable="true" type="tns:ArrayOfCirMasterData" />
  <xs:complexType name="CirMasterData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MasterKeyValue" nillable="true" type="tns:ArrayOfMasterKeyValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CirMasterData" nillable="true" type="tns:CirMasterData" />
  <xs:complexType name="ArrayOfMasterKeyValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MasterKeyValue" nillable="true" type="tns:MasterKeyValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMasterKeyValue" nillable="true" type="tns:ArrayOfMasterKeyValue" />
  <xs:complexType name="MasterKeyValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="keyType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MasterKeyValue" nillable="true" type="tns:MasterKeyValue" />
</xs:schema>