Cir.Azure.MobileApp/Service References/CirSyncService/SyncService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://schemas.microsoft.com/ws/2005/02/mex/bindings" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SyncService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_ISyncService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://schemas.microsoft.com/ws/2005/02/mex/bindings" location="http://dkrdstowerdd01/Cir.Sync.Services/SyncService.svc?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://dkrdstowerdd01/Cir.Sync.Services/SyncService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://dkrdstowerdd01/Cir.Sync.Services/SyncService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://dkrdstowerdd01/Cir.Sync.Services/SyncService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.DataContracts" />
      <xsd:import schemaLocation="http://dkrdstowerdd01/Cir.Sync.Services/SyncService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.CIR" />
      <xsd:import schemaLocation="http://dkrdstowerdd01/Cir.Sync.Services/SyncService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.ErrorHandling" />
      <xsd:import schemaLocation="http://dkrdstowerdd01/Cir.Sync.Services/SyncService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.AdvanceSearch" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISyncService_GetMasterData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMasterData" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetMasterData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMasterDataResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetMasterDataByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMasterDataByName" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetMasterDataByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMasterDataByNameResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetCIMCaseData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCIMCaseData" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetCIMCaseData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCIMCaseDataResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_SaveCIRData_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveCIRData" />
  </wsdl:message>
  <wsdl:message name="ISyncService_SaveCIRData_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveCIRDataResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetCIRDatabyCIRID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCIRDatabyCIRID" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetCIRDatabyCIRID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCIRDatabyCIRIDResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_CirQuickSearch_InputMessage">
    <wsdl:part name="parameters" element="tns:CirQuickSearch" />
  </wsdl:message>
  <wsdl:message name="ISyncService_CirQuickSearch_OutputMessage">
    <wsdl:part name="parameters" element="tns:CirQuickSearchResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetComponentInspectionReportType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetComponentInspectionReportType" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetComponentInspectionReportType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetComponentInspectionReportTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetStandardText_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStandardText" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetStandardText_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStandardTextResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetStandardTextbyID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStandardTextbyID" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetStandardTextbyID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStandardTextbyIDResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_SaveStandardTextData_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveStandardTextData" />
  </wsdl:message>
  <wsdl:message name="ISyncService_SaveStandardTextData_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveStandardTextDataResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_BirSearch_InputMessage">
    <wsdl:part name="parameters" element="tns:BirSearch" />
  </wsdl:message>
  <wsdl:message name="ISyncService_BirSearch_OutputMessage">
    <wsdl:part name="parameters" element="tns:BirSearchResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_DeleteBir_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBir" />
  </wsdl:message>
  <wsdl:message name="ISyncService_DeleteBir_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBirResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_BirFile_InputMessage">
    <wsdl:part name="parameters" element="tns:BirFile" />
  </wsdl:message>
  <wsdl:message name="ISyncService_BirFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:BirFileResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetBirDataByCirID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBirDataByCirID" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetBirDataByCirID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBirDataByCirIDResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_SaveBirData_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveBirData" />
  </wsdl:message>
  <wsdl:message name="ISyncService_SaveBirData_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveBirDataResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_Log_InputMessage">
    <wsdl:part name="parameters" element="tns:Log" />
  </wsdl:message>
  <wsdl:message name="ISyncService_Log_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetLog_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLog" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLogResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetFeedbackType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFeedbackType" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetFeedbackType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFeedbackTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_SaveFeedback_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveFeedback" />
  </wsdl:message>
  <wsdl:message name="ISyncService_SaveFeedback_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveFeedbackResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetAllFeedbacks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFeedbacks" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetAllFeedbacks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFeedbacksResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_DeleteFeedback_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFeedback" />
  </wsdl:message>
  <wsdl:message name="ISyncService_DeleteFeedback_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFeedbackResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetSeverity_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSeverity" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetSeverity_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSeverityResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetServiceInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceInformation" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetServiceInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceInformationResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetServiceInformationbyID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceInformationbyID" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetServiceInformationbyID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceInformationbyIDResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_SaveServiceInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveServiceInformation" />
  </wsdl:message>
  <wsdl:message name="ISyncService_SaveServiceInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveServiceInformationResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetAllView_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllView" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetAllView_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllViewResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetAllViewList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllViewList" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetAllViewList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllViewListResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetView_InputMessage">
    <wsdl:part name="parameters" element="tns:GetView" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetView_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetViewResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_CreateView_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateView" />
  </wsdl:message>
  <wsdl:message name="ISyncService_CreateView_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateViewResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_DeleteView_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteView" />
  </wsdl:message>
  <wsdl:message name="ISyncService_DeleteView_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteViewResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetCirList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCirList" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetCirList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCirListResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_CirProcess_InputMessage">
    <wsdl:part name="parameters" element="tns:CirProcess" />
  </wsdl:message>
  <wsdl:message name="ISyncService_CirProcess_OutputMessage">
    <wsdl:part name="parameters" element="tns:CirProcessResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_LockUnlockCir_InputMessage">
    <wsdl:part name="parameters" element="tns:LockUnlockCir" />
  </wsdl:message>
  <wsdl:message name="ISyncService_LockUnlockCir_OutputMessage">
    <wsdl:part name="parameters" element="tns:LockUnlockCirResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetCirDataDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCirDataDetails" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetCirDataDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCirDataDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetCIRLog_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCIRLog" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetCIRLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCIRLogResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetCirDataDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCirDataDetail" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetCirDataDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCirDataDetailResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_SaveCirCommentHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveCirCommentHistory" />
  </wsdl:message>
  <wsdl:message name="ISyncService_SaveCirCommentHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveCirCommentHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetCirCommentHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCirCommentHistory" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetCirCommentHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCirCommentHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GenerateBIRReport_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateBIRReport" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GenerateBIRReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateBIRReportResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetBirPDF_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBirPDF" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetBirPDF_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBirPDFResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_SendFirstNotification_InputMessage">
    <wsdl:part name="parameters" element="tns:SendFirstNotification" />
  </wsdl:message>
  <wsdl:message name="ISyncService_SendFirstNotification_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendFirstNotificationResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_IsValidServiceReportNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:IsValidServiceReportNumber" />
  </wsdl:message>
  <wsdl:message name="ISyncService_IsValidServiceReportNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsValidServiceReportNumberResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_IsValidNotificationNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:IsValidNotificationNumber" />
  </wsdl:message>
  <wsdl:message name="ISyncService_IsValidNotificationNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsValidNotificationNumberResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_SaveCIRPdf_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveCIRPdf" />
  </wsdl:message>
  <wsdl:message name="ISyncService_SaveCIRPdf_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveCIRPdfResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetCIRPdf_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCIRPdf" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetCIRPdf_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCIRPdfResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetCIRPdfZip_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCIRPdfZip" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetCIRPdfZip_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCIRPdfZipResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_RenderCirReport_InputMessage">
    <wsdl:part name="parameters" element="tns:RenderCirReport" />
  </wsdl:message>
  <wsdl:message name="ISyncService_RenderCirReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:RenderCirReportResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetCirRevision_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCirRevision" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetCirRevision_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCirRevisionResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetCirRevisionData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCirRevisionData" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetCirRevisionData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCirRevisionDataResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_DoAdvanceSearch_InputMessage">
    <wsdl:part name="parameters" element="tns:DoAdvanceSearch" />
  </wsdl:message>
  <wsdl:message name="ISyncService_DoAdvanceSearch_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoAdvanceSearchResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_LoadProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadProfile" />
  </wsdl:message>
  <wsdl:message name="ISyncService_LoadProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadProfileResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_DeleteProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProfile" />
  </wsdl:message>
  <wsdl:message name="ISyncService_DeleteProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProfileResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_SaveProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveProfile" />
  </wsdl:message>
  <wsdl:message name="ISyncService_SaveProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveProfileResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_ValidateTurbineNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateTurbineNumber" />
  </wsdl:message>
  <wsdl:message name="ISyncService_ValidateTurbineNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateTurbineNumberResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_ValidateGetTurbineData_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateGetTurbineData" />
  </wsdl:message>
  <wsdl:message name="ISyncService_ValidateGetTurbineData_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateGetTurbineDataResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_ValidateCIMCaseNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateCIMCaseNumber" />
  </wsdl:message>
  <wsdl:message name="ISyncService_ValidateCIMCaseNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateCIMCaseNumberResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_ValidateServiceReportNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateServiceReportNumber" />
  </wsdl:message>
  <wsdl:message name="ISyncService_ValidateServiceReportNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateServiceReportNumberResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_ValidateServiceNotificationNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateServiceNotificationNumber" />
  </wsdl:message>
  <wsdl:message name="ISyncService_ValidateServiceNotificationNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateServiceNotificationNumberResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_UnlockCirDataByCirID_InputMessage">
    <wsdl:part name="parameters" element="tns:UnlockCirDataByCirID" />
  </wsdl:message>
  <wsdl:message name="ISyncService_UnlockCirDataByCirID_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnlockCirDataByCirIDResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_LockCirDataByCirID_InputMessage">
    <wsdl:part name="parameters" element="tns:LockCirDataByCirID" />
  </wsdl:message>
  <wsdl:message name="ISyncService_LockCirDataByCirID_OutputMessage">
    <wsdl:part name="parameters" element="tns:LockCirDataByCirIDResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetCirStateByCirIDs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCirStateByCirIDs" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetCirStateByCirIDs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCirStateByCirIDsResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetManufacturer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetManufacturer" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetManufacturer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetManufacturerResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetManufacturerList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetManufacturerList" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetManufacturerList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetManufacturerListResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_DeleteManufacturer_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteManufacturer" />
  </wsdl:message>
  <wsdl:message name="ISyncService_DeleteManufacturer_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteManufacturerResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_SaveManufacturer_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveManufacturer" />
  </wsdl:message>
  <wsdl:message name="ISyncService_SaveManufacturer_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveManufacturerResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetHotlist_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHotlist" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetHotlist_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHotlistResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetAllHotlist_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllHotlist" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetAllHotlist_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllHotlistResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_SaveHotList_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveHotList" />
  </wsdl:message>
  <wsdl:message name="ISyncService_SaveHotList_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveHotListResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_DeleteHotList_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteHotList" />
  </wsdl:message>
  <wsdl:message name="ISyncService_DeleteHotList_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteHotListResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_UploadDefectCategotization_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadDefectCategotization" />
  </wsdl:message>
  <wsdl:message name="ISyncService_UploadDefectCategotization_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadDefectCategotizationResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_SaveAttachment_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveAttachment" />
  </wsdl:message>
  <wsdl:message name="ISyncService_SaveAttachment_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveAttachmentResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetAttachments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAttachments" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetAttachments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAttachmentsResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_DeleteAttachment_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAttachment" />
  </wsdl:message>
  <wsdl:message name="ISyncService_DeleteAttachment_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAttachmentResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetAttachment_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAttachment" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetAttachment_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAttachmentResponse" />
  </wsdl:message>
  <wsdl:portType name="ISyncService">
    <wsdl:operation name="GetMasterData">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/GetMasterData" message="tns:ISyncService_GetMasterData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/GetMasterDataResponse" message="tns:ISyncService_GetMasterData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMasterDataByName">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/GetMasterDataByName" message="tns:ISyncService_GetMasterDataByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/GetMasterDataByNameResponse" message="tns:ISyncService_GetMasterDataByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCIMCaseData">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/GetCIMCaseData" message="tns:ISyncService_GetCIMCaseData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/GetCIMCaseDataResponse" message="tns:ISyncService_GetCIMCaseData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveCIRData">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/SaveCIRData" message="tns:ISyncService_SaveCIRData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/SaveCIRDataResponse" message="tns:ISyncService_SaveCIRData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCIRDatabyCIRID">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/GetCIRDatabyCIRID" message="tns:ISyncService_GetCIRDatabyCIRID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/GetCIRDatabyCIRIDResponse" message="tns:ISyncService_GetCIRDatabyCIRID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CirQuickSearch">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/CirQuickSearch" message="tns:ISyncService_CirQuickSearch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/CirQuickSearchResponse" message="tns:ISyncService_CirQuickSearch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetComponentInspectionReportType">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/GetComponentInspectionReportType" message="tns:ISyncService_GetComponentInspectionReportType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/GetComponentInspectionReportTypeResponse" message="tns:ISyncService_GetComponentInspectionReportType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStandardText">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/GetStandardText" message="tns:ISyncService_GetStandardText_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/GetStandardTextResponse" message="tns:ISyncService_GetStandardText_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStandardTextbyID">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/GetStandardTextbyID" message="tns:ISyncService_GetStandardTextbyID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/GetStandardTextbyIDResponse" message="tns:ISyncService_GetStandardTextbyID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveStandardTextData">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/SaveStandardTextData" message="tns:ISyncService_SaveStandardTextData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/SaveStandardTextDataResponse" message="tns:ISyncService_SaveStandardTextData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BirSearch">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/BirSearch" message="tns:ISyncService_BirSearch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/BirSearchResponse" message="tns:ISyncService_BirSearch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBir">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/DeleteBir" message="tns:ISyncService_DeleteBir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/DeleteBirResponse" message="tns:ISyncService_DeleteBir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BirFile">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/BirFile" message="tns:ISyncService_BirFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/BirFileResponse" message="tns:ISyncService_BirFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBirDataByCirID">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/GetBirDataByCirID" message="tns:ISyncService_GetBirDataByCirID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/GetBirDataByCirIDResponse" message="tns:ISyncService_GetBirDataByCirID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveBirData">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/SaveBirData" message="tns:ISyncService_SaveBirData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/SaveBirDataResponse" message="tns:ISyncService_SaveBirData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Log">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/Log" message="tns:ISyncService_Log_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/LogResponse" message="tns:ISyncService_Log_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLog">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/GetLog" message="tns:ISyncService_GetLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/GetLogResponse" message="tns:ISyncService_GetLog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFeedbackType">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/GetFeedbackType" message="tns:ISyncService_GetFeedbackType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/GetFeedbackTypeResponse" message="tns:ISyncService_GetFeedbackType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveFeedback">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/SaveFeedback" message="tns:ISyncService_SaveFeedback_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/SaveFeedbackResponse" message="tns:ISyncService_SaveFeedback_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllFeedbacks">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/GetAllFeedbacks" message="tns:ISyncService_GetAllFeedbacks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/GetAllFeedbacksResponse" message="tns:ISyncService_GetAllFeedbacks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFeedback">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/DeleteFeedback" message="tns:ISyncService_DeleteFeedback_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/DeleteFeedbackResponse" message="tns:ISyncService_DeleteFeedback_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSeverity">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/GetSeverity" message="tns:ISyncService_GetSeverity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/GetSeverityResponse" message="tns:ISyncService_GetSeverity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServiceInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/GetServiceInformation" message="tns:ISyncService_GetServiceInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/GetServiceInformationResponse" message="tns:ISyncService_GetServiceInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServiceInformationbyID">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/GetServiceInformationbyID" message="tns:ISyncService_GetServiceInformationbyID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/GetServiceInformationbyIDResponse" message="tns:ISyncService_GetServiceInformationbyID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveServiceInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/SaveServiceInformation" message="tns:ISyncService_SaveServiceInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/SaveServiceInformationResponse" message="tns:ISyncService_SaveServiceInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllView">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/GetAllView" message="tns:ISyncService_GetAllView_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/GetAllViewResponse" message="tns:ISyncService_GetAllView_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllViewList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/GetAllViewList" message="tns:ISyncService_GetAllViewList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/GetAllViewListResponse" message="tns:ISyncService_GetAllViewList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetView">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/GetView" message="tns:ISyncService_GetView_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/GetViewResponse" message="tns:ISyncService_GetView_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateView">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/CreateView" message="tns:ISyncService_CreateView_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/CreateViewResponse" message="tns:ISyncService_CreateView_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteView">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/DeleteView" message="tns:ISyncService_DeleteView_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/DeleteViewResponse" message="tns:ISyncService_DeleteView_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCirList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/GetCirList" message="tns:ISyncService_GetCirList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/GetCirListResponse" message="tns:ISyncService_GetCirList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CirProcess">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/CirProcess" message="tns:ISyncService_CirProcess_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/CirProcessResponse" message="tns:ISyncService_CirProcess_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LockUnlockCir">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/LockUnlockCir" message="tns:ISyncService_LockUnlockCir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/LockUnlockCirResponse" message="tns:ISyncService_LockUnlockCir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCirDataDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/GetCirDataDetails" message="tns:ISyncService_GetCirDataDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/GetCirDataDetailsResponse" message="tns:ISyncService_GetCirDataDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCIRLog">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/GetCIRLog" message="tns:ISyncService_GetCIRLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/GetCIRLogResponse" message="tns:ISyncService_GetCIRLog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCirDataDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/GetCirDataDetail" message="tns:ISyncService_GetCirDataDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/GetCirDataDetailResponse" message="tns:ISyncService_GetCirDataDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveCirCommentHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/SaveCirCommentHistory" message="tns:ISyncService_SaveCirCommentHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/SaveCirCommentHistoryResponse" message="tns:ISyncService_SaveCirCommentHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCirCommentHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/GetCirCommentHistory" message="tns:ISyncService_GetCirCommentHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/GetCirCommentHistoryResponse" message="tns:ISyncService_GetCirCommentHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerateBIRReport">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/GenerateBIRReport" message="tns:ISyncService_GenerateBIRReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/GenerateBIRReportResponse" message="tns:ISyncService_GenerateBIRReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBirPDF">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/GetBirPDF" message="tns:ISyncService_GetBirPDF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/GetBirPDFResponse" message="tns:ISyncService_GetBirPDF_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendFirstNotification">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/SendFirstNotification" message="tns:ISyncService_SendFirstNotification_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/SendFirstNotificationResponse" message="tns:ISyncService_SendFirstNotification_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsValidServiceReportNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/IsValidServiceReportNumber" message="tns:ISyncService_IsValidServiceReportNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/IsValidServiceReportNumberResponse" message="tns:ISyncService_IsValidServiceReportNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsValidNotificationNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/IsValidNotificationNumber" message="tns:ISyncService_IsValidNotificationNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/IsValidNotificationNumberResponse" message="tns:ISyncService_IsValidNotificationNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveCIRPdf">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/SaveCIRPdf" message="tns:ISyncService_SaveCIRPdf_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/SaveCIRPdfResponse" message="tns:ISyncService_SaveCIRPdf_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCIRPdf">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/GetCIRPdf" message="tns:ISyncService_GetCIRPdf_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/GetCIRPdfResponse" message="tns:ISyncService_GetCIRPdf_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCIRPdfZip">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/GetCIRPdfZip" message="tns:ISyncService_GetCIRPdfZip_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/GetCIRPdfZipResponse" message="tns:ISyncService_GetCIRPdfZip_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RenderCirReport">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/RenderCirReport" message="tns:ISyncService_RenderCirReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/RenderCirReportResponse" message="tns:ISyncService_RenderCirReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCirRevision">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/GetCirRevision" message="tns:ISyncService_GetCirRevision_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/GetCirRevisionResponse" message="tns:ISyncService_GetCirRevision_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCirRevisionData">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/GetCirRevisionData" message="tns:ISyncService_GetCirRevisionData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/GetCirRevisionDataResponse" message="tns:ISyncService_GetCirRevisionData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoAdvanceSearch">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/DoAdvanceSearch" message="tns:ISyncService_DoAdvanceSearch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/DoAdvanceSearchResponse" message="tns:ISyncService_DoAdvanceSearch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/LoadProfile" message="tns:ISyncService_LoadProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/LoadProfileResponse" message="tns:ISyncService_LoadProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/DeleteProfile" message="tns:ISyncService_DeleteProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/DeleteProfileResponse" message="tns:ISyncService_DeleteProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/SaveProfile" message="tns:ISyncService_SaveProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/SaveProfileResponse" message="tns:ISyncService_SaveProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateTurbineNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/ValidateTurbineNumber" message="tns:ISyncService_ValidateTurbineNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/ValidateTurbineNumberResponse" message="tns:ISyncService_ValidateTurbineNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateGetTurbineData">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/ValidateGetTurbineData" message="tns:ISyncService_ValidateGetTurbineData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/ValidateGetTurbineDataResponse" message="tns:ISyncService_ValidateGetTurbineData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateCIMCaseNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/ValidateCIMCaseNumber" message="tns:ISyncService_ValidateCIMCaseNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/ValidateCIMCaseNumberResponse" message="tns:ISyncService_ValidateCIMCaseNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateServiceReportNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/ValidateServiceReportNumber" message="tns:ISyncService_ValidateServiceReportNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/ValidateServiceReportNumberResponse" message="tns:ISyncService_ValidateServiceReportNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateServiceNotificationNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/ValidateServiceNotificationNumber" message="tns:ISyncService_ValidateServiceNotificationNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/ValidateServiceNotificationNumberResponse" message="tns:ISyncService_ValidateServiceNotificationNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnlockCirDataByCirID">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/UnlockCirDataByCirID" message="tns:ISyncService_UnlockCirDataByCirID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/UnlockCirDataByCirIDResponse" message="tns:ISyncService_UnlockCirDataByCirID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LockCirDataByCirID">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/LockCirDataByCirID" message="tns:ISyncService_LockCirDataByCirID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/LockCirDataByCirIDResponse" message="tns:ISyncService_LockCirDataByCirID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCirStateByCirIDs">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/GetCirStateByCirIDs" message="tns:ISyncService_GetCirStateByCirIDs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/GetCirStateByCirIDsResponse" message="tns:ISyncService_GetCirStateByCirIDs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetManufacturer">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/GetManufacturer" message="tns:ISyncService_GetManufacturer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/GetManufacturerResponse" message="tns:ISyncService_GetManufacturer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetManufacturerList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/GetManufacturerList" message="tns:ISyncService_GetManufacturerList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/GetManufacturerListResponse" message="tns:ISyncService_GetManufacturerList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteManufacturer">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/DeleteManufacturer" message="tns:ISyncService_DeleteManufacturer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/DeleteManufacturerResponse" message="tns:ISyncService_DeleteManufacturer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveManufacturer">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/SaveManufacturer" message="tns:ISyncService_SaveManufacturer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/SaveManufacturerResponse" message="tns:ISyncService_SaveManufacturer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHotlist">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/GetHotlist" message="tns:ISyncService_GetHotlist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/GetHotlistResponse" message="tns:ISyncService_GetHotlist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllHotlist">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/GetAllHotlist" message="tns:ISyncService_GetAllHotlist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/GetAllHotlistResponse" message="tns:ISyncService_GetAllHotlist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveHotList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/SaveHotList" message="tns:ISyncService_SaveHotList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/SaveHotListResponse" message="tns:ISyncService_SaveHotList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteHotList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/DeleteHotList" message="tns:ISyncService_DeleteHotList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/DeleteHotListResponse" message="tns:ISyncService_DeleteHotList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadDefectCategotization">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/UploadDefectCategotization" message="tns:ISyncService_UploadDefectCategotization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/UploadDefectCategotizationResponse" message="tns:ISyncService_UploadDefectCategotization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveAttachment">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/SaveAttachment" message="tns:ISyncService_SaveAttachment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/SaveAttachmentResponse" message="tns:ISyncService_SaveAttachment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAttachments">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/GetAttachments" message="tns:ISyncService_GetAttachments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/GetAttachmentsResponse" message="tns:ISyncService_GetAttachments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAttachment">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/DeleteAttachment" message="tns:ISyncService_DeleteAttachment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/DeleteAttachmentResponse" message="tns:ISyncService_DeleteAttachment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAttachment">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/GetAttachment" message="tns:ISyncService_GetAttachment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/GetAttachmentResponse" message="tns:ISyncService_GetAttachment_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_ISyncService" type="tns:ISyncService">
    <wsp:PolicyReference URI="#WSHttpBinding_ISyncService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMasterData">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/GetMasterData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMasterDataByName">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/GetMasterDataByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCIMCaseData">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/GetCIMCaseData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCIRData">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/SaveCIRData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCIRDatabyCIRID">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/GetCIRDatabyCIRID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CirQuickSearch">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/CirQuickSearch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComponentInspectionReportType">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/GetComponentInspectionReportType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStandardText">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/GetStandardText" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStandardTextbyID">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/GetStandardTextbyID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveStandardTextData">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/SaveStandardTextData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BirSearch">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/BirSearch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBir">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/DeleteBir" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BirFile">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/BirFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBirDataByCirID">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/GetBirDataByCirID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveBirData">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/SaveBirData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Log">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/Log" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLog">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/GetLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFeedbackType">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/GetFeedbackType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveFeedback">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/SaveFeedback" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFeedbacks">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/GetAllFeedbacks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFeedback">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/DeleteFeedback" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSeverity">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/GetSeverity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceInformation">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/GetServiceInformation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceInformationbyID">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/GetServiceInformationbyID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveServiceInformation">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/SaveServiceInformation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllView">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/GetAllView" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllViewList">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/GetAllViewList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetView">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/GetView" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateView">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/CreateView" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteView">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/DeleteView" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCirList">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/GetCirList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CirProcess">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/CirProcess" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LockUnlockCir">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/LockUnlockCir" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCirDataDetails">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/GetCirDataDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCIRLog">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/GetCIRLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCirDataDetail">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/GetCirDataDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCirCommentHistory">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/SaveCirCommentHistory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCirCommentHistory">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/GetCirCommentHistory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateBIRReport">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/GenerateBIRReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBirPDF">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/GetBirPDF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendFirstNotification">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/SendFirstNotification" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsValidServiceReportNumber">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/IsValidServiceReportNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsValidNotificationNumber">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/IsValidNotificationNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCIRPdf">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/SaveCIRPdf" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCIRPdf">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/GetCIRPdf" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCIRPdfZip">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/GetCIRPdfZip" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RenderCirReport">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/RenderCirReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCirRevision">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/GetCirRevision" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCirRevisionData">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/GetCirRevisionData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoAdvanceSearch">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/DoAdvanceSearch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadProfile">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/LoadProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProfile">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/DeleteProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveProfile">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/SaveProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateTurbineNumber">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/ValidateTurbineNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateGetTurbineData">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/ValidateGetTurbineData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateCIMCaseNumber">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/ValidateCIMCaseNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateServiceReportNumber">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/ValidateServiceReportNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateServiceNotificationNumber">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/ValidateServiceNotificationNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnlockCirDataByCirID">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/UnlockCirDataByCirID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LockCirDataByCirID">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/LockCirDataByCirID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCirStateByCirIDs">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/GetCirStateByCirIDs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetManufacturer">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/GetManufacturer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetManufacturerList">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/GetManufacturerList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteManufacturer">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/DeleteManufacturer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveManufacturer">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/SaveManufacturer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHotlist">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/GetHotlist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllHotlist">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/GetAllHotlist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveHotList">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/SaveHotList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteHotList">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/DeleteHotList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadDefectCategotization">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/UploadDefectCategotization" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveAttachment">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/SaveAttachment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAttachments">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/GetAttachments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAttachment">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/DeleteAttachment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAttachment">
      <soap12:operation soapAction="http://tempuri.org/ISyncService/GetAttachment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SyncService">
    <wsdl:port name="WSHttpBinding_ISyncService" binding="tns:WSHttpBinding_ISyncService">
      <soap12:address location="http://dkrdstowerdd01/Cir.Sync.Services/SyncService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://dkrdstowerdd01/Cir.Sync.Services/SyncService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="MetadataExchangeHttpBinding_ISyncService" binding="i0:MetadataExchangeHttpBinding_ISyncService">
      <soap12:address location="http://dkrdstowerdd01/Cir.Sync.Services/SyncService.svc/mex" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://dkrdstowerdd01/Cir.Sync.Services/SyncService.svc/mex</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>