Cir.Azure.MobileApp/Service References/CirSyncService/SyncService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://dkrdstowerdd01/Cir.Sync.Services/SyncService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.DataContracts" />
  <xs:import schemaLocation="http://dkrdstowerdd01/Cir.Sync.Services/SyncService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.CIR" />
  <xs:import schemaLocation="http://dkrdstowerdd01/Cir.Sync.Services/SyncService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.ErrorHandling" />
  <xs:import schemaLocation="http://dkrdstowerdd01/Cir.Sync.Services/SyncService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.AdvanceSearch" />
  <xs:element name="GetMasterData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMasterDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.DataContracts" minOccurs="0" name="GetMasterDataResult" nillable="true" type="q1:ArrayOfCirMasterData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMasterDataByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMasterDataByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.DataContracts" minOccurs="0" name="GetMasterDataByNameResult" nillable="true" type="q2:ArrayOfCirMasterTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCIMCaseData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCIMCaseDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.DataContracts" minOccurs="0" name="GetCIMCaseDataResult" nillable="true" type="q3:ArrayOfCirCIMCaseTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCIRData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.CIR" minOccurs="0" name="strJsnCir" nillable="true" type="q4:ComponentInspectionReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCIRDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.CIR" minOccurs="0" name="SaveCIRDataResult" nillable="true" type="q5:CirResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCIRDatabyCIRID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CIRID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCIRDatabyCIRIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.CIR" minOccurs="0" name="GetCIRDatabyCIRIDResult" nillable="true" type="q6:ComponentInspectionReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CirQuickSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.CIR" minOccurs="0" name="SearchItem" nillable="true" type="q7:CirQuickSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CirQuickSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.CIR" minOccurs="0" name="CirQuickSearchResult" nillable="true" type="q8:ArrayOfComponentInspectionReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComponentInspectionReportType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComponentInspectionReportTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.DataContracts" minOccurs="0" name="GetComponentInspectionReportTypeResult" nillable="true" type="q9:ArrayOfComponentInspectionReportType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStandardText">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CommonInspectionReportID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStandardTextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.DataContracts" minOccurs="0" name="GetStandardTextResult" nillable="true" type="q10:ArrayOfStandardTexts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStandardTextbyID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStandardTextbyIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.DataContracts" minOccurs="0" name="GetStandardTextbyIDResult" nillable="true" type="q11:StandardTexts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveStandardTextData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.DataContracts" minOccurs="0" name="strJsnStrTxt" nillable="true" type="q12:StandardTexts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveStandardTextDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.DataContracts" minOccurs="0" name="SaveStandardTextDataResult" nillable="true" type="q13:StandardTexts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BirSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.DataContracts" minOccurs="0" name="bir" nillable="true" type="q14:Bir" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BirSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.DataContracts" minOccurs="0" name="BirSearchResult" nillable="true" type="q15:ArrayOfBir" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBir">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BirID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteBirResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BirFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BirID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BirFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.DataContracts" minOccurs="0" name="BirFileResult" nillable="true" type="q16:Bir" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBirDataByCirID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CirIDs" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBirDataByCirIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.DataContracts" minOccurs="0" name="GetBirDataByCirIDResult" nillable="true" type="q17:Bir" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBirData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.DataContracts" minOccurs="0" name="bir" nillable="true" type="q18:Bir" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBirDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.DataContracts" minOccurs="0" name="SaveBirDataResult" nillable="true" type="q19:Bir" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Log">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="detail" nillable="true" type="xs:string" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.ErrorHandling" minOccurs="0" name="type" type="q20:LogType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.DataContracts" minOccurs="0" name="log" nillable="true" type="q21:LogList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.DataContracts" minOccurs="0" name="GetLogResult" nillable="true" type="q22:LogList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeedbackType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeedbackTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.DataContracts" minOccurs="0" name="GetFeedbackTypeResult" nillable="true" type="q23:ArrayOfFeedbackType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveFeedback">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.DataContracts" minOccurs="0" name="strJsnFeedback" nillable="true" type="q24:Feedback" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveFeedbackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.DataContracts" minOccurs="0" name="SaveFeedbackResult" nillable="true" type="q25:Feedback" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFeedbacks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFeedbacksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.DataContracts" minOccurs="0" name="GetAllFeedbacksResult" nillable="true" type="q26:ArrayOfFeedback" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFeedback">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFeedbackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteFeedbackResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeverity">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeverityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.DataContracts" minOccurs="0" name="GetSeverityResult" nillable="true" type="q27:ArrayOfSeverity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="All" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.DataContracts" minOccurs="0" name="GetServiceInformationResult" nillable="true" type="q28:ArrayOfServiceInformations" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceInformationbyID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceInformationbyIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.DataContracts" minOccurs="0" name="GetServiceInformationbyIDResult" nillable="true" type="q29:ServiceInformations" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveServiceInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.DataContracts" minOccurs="0" name="strJsnServiceInformations" nillable="true" type="q30:ServiceInformations" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveServiceInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.DataContracts" minOccurs="0" name="SaveServiceInformationResult" nillable="true" type="q31:ServiceInformations" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllView">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllViewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.DataContracts" minOccurs="0" name="GetAllViewResult" nillable="true" type="q32:ArrayOfCirViewData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllViewList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="initials" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllViewListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.DataContracts" minOccurs="0" name="GetAllViewListResult" nillable="true" type="q33:CirViewData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetView">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ViewId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetViewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.DataContracts" minOccurs="0" name="GetViewResult" nillable="true" type="q34:CirViewData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateView">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.DataContracts" minOccurs="0" name="cirViewData" nillable="true" type="q35:CirViewData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateViewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateViewResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteView">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ViewId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteViewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteViewResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCirList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.DataContracts" minOccurs="0" name="cirList" nillable="true" type="q36:CIRList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCirListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.DataContracts" minOccurs="0" name="GetCirListResult" nillable="true" type="q37:CIRList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CirProcess">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.DataContracts" minOccurs="0" name="cirDataDetail" nillable="true" type="q38:CirDataDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CirProcessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.DataContracts" minOccurs="0" name="CirProcessResult" nillable="true" type="q39:CirDataActionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LockUnlockCir">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.DataContracts" minOccurs="0" name="cirDataDetail" nillable="true" type="q40:CirDataDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LockUnlockCirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.DataContracts" minOccurs="0" name="LockUnlockCirResult" nillable="true" type="q41:CirDataActionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCirDataDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CirDataId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCirDataDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.DataContracts" minOccurs="0" name="GetCirDataDetailsResult" nillable="true" type="q42:CirDataDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCIRLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CirDataId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCIRLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.DataContracts" minOccurs="0" name="GetCIRLogResult" nillable="true" type="q43:ArrayOfCirLogs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCirDataDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CirDataId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCirDataDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.DataContracts" minOccurs="0" name="GetCirDataDetailResult" nillable="true" type="q44:CirDataDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCirCommentHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.DataContracts" minOccurs="0" name="CirCommentHistory" nillable="true" type="q45:CirCommentHistorys" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCirCommentHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.DataContracts" minOccurs="0" name="SaveCirCommentHistoryResult" nillable="true" type="q46:CirCommentHistorys" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCirCommentHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CirDataId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCirCommentHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.DataContracts" minOccurs="0" name="GetCirCommentHistoryResult" nillable="true" type="q47:ArrayOfCirCommentHistorys" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateBIRReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BirDataID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateBIRReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerateBIRReportResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBirPDF">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BirDataID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBirPDFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.DataContracts" minOccurs="0" name="GetBirPDFResult" nillable="true" type="q48:Bir" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendFirstNotification">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CirDataID" type="xs:long" />
        <xs:element minOccurs="0" name="CirId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendFirstNotificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendFirstNotificationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsValidServiceReportNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serviceReportNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="turbineNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsValidServiceReportNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsValidServiceReportNumberResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsValidNotificationNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="notificationNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="turbineNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsValidNotificationNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsValidNotificationNumberResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCIRPdf">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="state" type="xs:int" />
        <xs:element minOccurs="0" name="html" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCIRPdfResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveCIRPdfResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCIRPdf">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CirDataId" type="xs:long" />
        <xs:element minOccurs="0" name="CirId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCIRPdfResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.DataContracts" minOccurs="0" name="GetCIRPdfResult" nillable="true" type="q49:Bir" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCIRPdfZip">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CirDataIds" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCIRPdfZipResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.DataContracts" minOccurs="0" name="GetCIRPdfZipResult" nillable="true" type="q50:Bir" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenderCirReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CirID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenderCirReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RenderCirReportResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCirRevision">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CirDataId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCirRevisionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.DataContracts" minOccurs="0" name="GetCirRevisionResult" nillable="true" type="q51:ArrayOfCirRevision" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCirRevisionData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CirDataId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCirRevisionDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.CIR" minOccurs="0" name="GetCirRevisionDataResult" nillable="true" type="q52:ComponentInspectionReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoAdvanceSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.AdvanceSearch" minOccurs="0" name="advanceSearchModel" nillable="true" type="q53:AdvanceSearchModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoAdvanceSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.AdvanceSearch" minOccurs="0" name="DoAdvanceSearchResult" nillable="true" type="q54:AdvanceSearchModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProfileId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.AdvanceSearch" minOccurs="0" name="LoadProfileResult" nillable="true" type="q55:AdvanceSearchModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProfileId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.AdvanceSearch" minOccurs="0" name="DeleteProfileResult" nillable="true" type="q56:AdvanceSearchModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.AdvanceSearch" minOccurs="0" name="advanceSearchModel" nillable="true" type="q57:AdvanceSearchModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.AdvanceSearch" minOccurs="0" name="SaveProfileResult" nillable="true" type="q58:AdvanceSearchModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateTurbineNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TurbineNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateTurbineNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateTurbineNumberResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateGetTurbineData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TurbineNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateGetTurbineDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.CIR" minOccurs="0" name="ValidateGetTurbineDataResult" nillable="true" type="q59:TurbineProperties" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateCIMCaseNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CIMCaseNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateCIMCaseNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateCIMCaseNumberResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateServiceReportNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServiceReportNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TurbineNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateServiceReportNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateServiceReportNumberResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateServiceNotificationNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServiceNotificationNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TurbineNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateServiceNotificationNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateServiceNotificationNumberResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnlockCirDataByCirID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CirID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnlockCirDataByCirIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UnlockCirDataByCirIDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LockCirDataByCirID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CirID" type="xs:long" />
        <xs:element minOccurs="0" name="modifiedby" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LockCirDataByCirIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LockCirDataByCirIDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCirStateByCirIDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.CIR" minOccurs="0" name="CirIDs" nillable="true" type="q60:ArrayOfCirStateResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCirStateByCirIDsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.CIR" minOccurs="0" name="GetCirStateByCirIDsResult" nillable="true" type="q61:ArrayOfCirStateResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetManufacturer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" type="xs:int" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetManufacturerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.DataContracts" minOccurs="0" name="GetManufacturerResult" nillable="true" type="q62:Manufacturer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetManufacturerList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetManufacturerListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.DataContracts" minOccurs="0" name="GetManufacturerListResult" nillable="true" type="q63:ManufacturerList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteManufacturer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" type="xs:int" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteManufacturerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteManufacturerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveManufacturer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.DataContracts" minOccurs="0" name="m" nillable="true" type="q64:Manufacturer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveManufacturerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveManufacturerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHotlist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHotlistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.DataContracts" minOccurs="0" name="GetHotlistResult" nillable="true" type="q65:Hotlist" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllHotlist">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllHotlistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.DataContracts" minOccurs="0" name="GetAllHotlistResult" nillable="true" type="q66:ArrayOfHotlist" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveHotList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.DataContracts" minOccurs="0" name="hotlist" nillable="true" type="q67:Hotlist" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveHotListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveHotListResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteHotList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteHotListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteHotListResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadDefectCategotization">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.DataContracts" minOccurs="0" name="dc" nillable="true" type="q68:CirDefectCategorization" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadDefectCategotizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.DataContracts" minOccurs="0" name="UploadDefectCategotizationResult" nillable="true" type="q69:CirDefectCategorization" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAttachment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.DataContracts" minOccurs="0" name="attachment" nillable="true" type="q70:CirAttachments" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAttachmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveAttachmentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttachments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cirId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttachmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.DataContracts" minOccurs="0" name="GetAttachmentsResult" nillable="true" type="q71:ArrayOfCirAttachments" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAttachment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cirAttachmentId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAttachmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAttachmentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttachment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cirAttachmentId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttachmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/Cir.Sync.Services.DataContracts" minOccurs="0" name="GetAttachmentResult" nillable="true" type="q72:CirAttachments" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>